*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.header{
    border: 3px solid red;
    padding: 20px;
    overflow: auto;
}
.header h1{
    border: 2px dashed black;
    float: left;
}
.header .sns{
    border: 2px dashed green;
    float: right;
    margin-top: 10px;
}

.nav{
    clear: both;
    border: 3px solid red;
    padding: 20px;
    overflow: hidden;
}
.nav img{
    width: 50px;
    height: 50px;
    border: 2px dashed black;
    float: left;
}
.nav ul{
    border: 2px dashed green;
    float: right;
    margin-top: 10px;
}
.nav ul li{
    border: 1px dashed blue;
    display: inline-block;
}
.main{
    border: 3px solid red;
    overflow: hidden;
    
}
.section{
    border: 2px dashed black;
    /* height: 500px; */
    width: 70%;
    float: left;
    background-image: url(../images/junk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 20px;
}
table{
    border: 1px solid white;
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 10px;
    empty-cells: hide;
    color: white;
    background-color: gray;
}
th,td{
    border: 1px solid yellow;
    padding: 5px;
}
form{
    border: 2px dashed white;
    padding: 10px;
}
input,textarea{
    width: 100%;
}
input:hover{
    background-color: yellow;
}
input:focus{
    background-color: teal;
}
.aside{
    border: 2px dashed green;
    height: 500px;
    width: 30%;
    float: right;
}
.static{
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
    position: static;
    left: 100px;
}
.relative{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    position: relative;
    left: 150px;
    top: 140px;
    background-color: blue;
    z-index: 20;
}
.fixed{
    border: 2px solid green;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: green;
    z-index: 10;
}
.absolute{
    border: 2px solid purple;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: purple;
    z-index: 11;
}
.relative2{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    position: relative;
}
/* .main p{
    clear: both;
} */
.footer{
    clear: both;
    border: 3px solid red;
    padding: 20px;
    text-align: center;
    /* height: 100px; */
}
/* 
    position property = tells element to move left,top,right,bottom.
        values:
            static = default (no support offset properties)

            relative(parent position) =the element will move from its original order.

            fixed(parent position) = the element will move from the body  element order and does not affects scrolling.

            absolute(child positon)= the element will move from the body element order and affects scrolling.

    offset properties
        left:0
        top:0
        right:
        bottom:


*/